
@keyframes fadeIn {
  from{
      scale: .8;
      opacity: 0;
  }
  
  70%{
      scale: 1;
      opacity: 1;
  }
}
  .fadeIn{
      animation: fadeIn ;
      animation-timeline: view();
  }
body{
  margin: 0;
  background-color: #F8F8F8;
  
}
/*animations*/
@keyframes slideInLeft{
  0%{
      transform: translateX(-80%);
  }
  70%{
      transform: translateX(5%);
  }
  100%{
      transform: translateX(0);
  }
}

@keyframes fadeLines {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
@keyframes hide-show {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
@keyframes lineLong2 {
  to{
      width: 100%;
  }
}
@keyframes slideLeftBounce {
  0%{
      transform: translateX(-40%);
  }
  80%{
      transform: translateX(0.5%);
  }
  100%{
      transform: translateX(0);
  }
}
@keyframes slideRightBounce {
  0%{
      transform: translateX(40%);
  }
  80%{
      transform: translateX(-0.5%);
  }
  100%{
      transform: translateX(0);
  }
}

/* navbar */
.content{
  margin-top: 100px;
}
.logo{
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px
}
.logo-down{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px
}
.navbar {
  background-color: black; 
  padding-right: 25px;
  position: fixed; 
  top: 0; 
  width: 100%; /* Zmieniamy na 100% dla pełnej szerokości */
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}

/* Styl ul */
ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

/* Styl dla przycisków nawigacyjnych */
.navButtons {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

/* Styl dla pojedynczych przycisków */
.navBtn {
  color: white;
  font-family: Saira Condensed;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  margin: 20px 20px 0 20px;
}

/* Styl dla przycisku kontaktowego */
.navBtnRed {
  background-color: red;
  padding: 22.5px 30px;
  border-radius: 25px;
}

.navBtnRed:hover {
  background-color: darkred; 
}
.footer{
  margin-bottom: 50px;
}
.footer-line{
  border: 1px solid rgba(0, 0, 0, 1);
  margin-top: 70px;
}
.footer-paragraph{
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  margin: 5px;    
}
.footer-title{
  font-family: Roboto Slab;
  font-size: 28px;
  font-weight: 600;
}
.footer-list{
  list-style: none;
  font-family: Saira Condensed;
  font-size: 24px;
  font-weight: 300;
  padding: 0;
}
.footer-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 70px;
  margin-left: 5%;
  margin-right: 5%;
}
.footer-text1{
  max-width: 500px;
}

.footer-texts{
  margin-left: 50px;
  display: flex;
  gap: 50px;
}

.hamburger {
  margin-right: 30px;
  display: none;
}

/* section 1 */
.center-container{
  margin-top: 120px;
  background-color: rgba(248, 248, 248, 1);
}

.title{
  font-family: Roboto Slab;
  font-size: 60px;
  text-align: center;
  font-weight: 400;
  animation: slideInLeft 1s;
  margin-top: 160px;
}
.under-title{
  font-family: Josefin Sans;
  font-weight: 300;
  font-size: 32px;
  transform: translateX(-120%);
  animation: slideInLeft 1s forwards;
  animation-delay: 500ms;
}
.web-top{
  padding-left: 5%;
  padding-right: 5%;
}
.text-n-picture{
  display: flex;
}
.first-image{
  margin-top: 100px;
  max-height: 731px;
}
.projects-button{
  width: Fixed (172px);
  height: Fixed (45px);
  padding: 6px 25px;
  border-radius: 25px;
  background-color: #D9D9D9;
  font-family: Shanti;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  transition: 0.5s;
  animation: slideInLeft 1s;
}
.projects-button:hover{
  background-color: lightskyblue;
}
.overlines{
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.overline-text{
  font-family: Shanti;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.text-n-lines{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.line{
  width: 197px;
  margin-top: 20px;
  animation: lineLong 1s linear;
}

.line2{
  text-align: center;
  max-width: 501.1px;
  border: 1.5px solid black;
}
/* usługi, oferty */
.over-offers-text{
  font-family: Saira Stencil One;
  font-size: 60px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.offer-title{
  font-family: Roboto Slab;
  font-size: 38px;
  font-weight: 400;
}
.offer-content{
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  padding-left: 5%;
  margin-bottom: 0;
}

.offer{
  text-align: center;
  width: 363.41px;
  height: 550.32px;
  border: 2px;
  border: 2px solid #000000;
  margin: 50px auto 0 auto;
  border-radius: 30px;
  transition: 0.5s;
  animation: hide-show linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}
.offers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.offers-container{
  padding-left: 10%;
  padding-right: 10%;
  background: linear-gradient(180deg, #F8F8F8 0%, #D3D3D3 7.86%, #B3B3B3 18.44%, #B3B3B3 51.99%, #B3B3B3 87.06%, #D5D5D5 94.53%, #F8F8F8 100%);
}
#offer-image1{
  padding-top: 5px;
}
#offer-title1{
  margin-top: 20px;
  margin-bottom: 20px;
}
#offer-image2{
  padding-top: 40px;
}
#offer-image3{
  padding-top: 45px;
}
#offer-title2{
  margin-top: 0;
  margin-bottom: 0;
}
#offer-content1{
  margin-top: 0;
}
#offer-image4{
  padding-top: 70px;
}
/*projects*/
.projects-text{
  text-align: left;
}
.projects-over-title{
  font-family: Roboto Slab;
  font-size: 32px;
  font-weight: 300;
  text-align: left;
}
.projects-title{
  font-family: Tinos;
  font-size: 42px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0;
}
.line3{
  width: 10px;
  text-align: left;
  margin-left: 0;
  margin-top: 5px;
  border: solid black;
  border-top: 2px;
  animation: lineLong2;
  animation-timeline: view();
  animation-range-start: 250px;

}
.projects{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 150px;
}
.projects-paragrafs{
  display: flex;
  gap: 50px;
}
.projects-paragraf{
  font-family: Josefin Sans;
  font-size: 28px;
  font-weight: 300;
  text-align: left;
}
.button2-box{
  text-align: center;
  margin-top: 170px;
  margin-bottom: 120px;
}
.button2{
  padding: 10px 100px;
  font-family: Shanti;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  background-color: #D9D9D9;
  border-radius: 25px;
  transition: 0.5s;
}
.button2:hover{
  background-color: lightskyblue;
}
.websites-columns{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.projects-image{
  margin-top: 30px;
  width: 820.3125px;
  height: 410.15625px;
}
  
.projects-under-title{
  font-family: Tinos;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 100px;
}
/*meet us*/
.meet-us-title{
  display: flex;
  font-family: Tinos;
  font-size: 42px;
  font-weight: 700;
}
.meet-us-title:before, .meet-us-title:after{
  color:black;
  content:'';
  flex:1;
  border-bottom: 3px solid black;;
  margin: auto 0.25rem;
  box-shadow: 0 -2px black;
}
.meet-us-line{
  display: flex;
  animation: hide-show linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
  margin: 0 10% 50px 10%;
}
.under-name{
  font-family: Josefin Sans;
  font-size: 28px;
  font-weight: 300;
}
.name{
  font-family: Roboto Slab;
  font-size: 36px;
  font-weight: 400;
}
.meet-us-img{
  max-width: 228px;
  max-height: 228px;
  margin: auto 0;
  border-radius: 120px;
}
.meet-us-text{
  padding-left: 2%;
}
#showOnSmallScreens{
  display: none;
}
#showOnSmallScreens{
  
}
/*contact*/
.title2{
  font-family: Roboto Slab;
  font-size: 60px;
  font-weight: 400;
  animation: slideInLeft 1s;
}
.under-title2{
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 300;
  animation: slideInLeft 1s;
  animation-delay: 100ms;
}
.webtop2image-som{
  display: none;
}
.web-top2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
}
.icons-box{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.image-box{
  text-align: center;
}
.app-icons{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.image-box h3{
  font-family: Varta;
  font-size: 46px;
  font-weight: 700;
  margin: 15px 0 0 0;
}
.web-top2 img{
  max-height: 602px;
}
.web-top-text2{
  max-width: 869px;
}
.form_form{
display: flex;
flex-direction: column;
margin-left: 5%;
margin-right: 5%;
margin-top: 30px;
}
#form_textarea{
font-size: 20px;
font-family: "Inter", sans-serif;
box-sizing: border-box; /* Upewnia się, że padding nie zwiększy rozmiaru inputu */
padding-bottom: 120px;
overflow: hidden;
  border-top:  solid 2px gray;
border-left: solid 2px gray;
border-bottom:  solid 2px gray;
border-right: solid 2px gray;
}

#form_textarea::placeholder{
text-align: left;
vertical-align: top;
font-family: "Inter", sans-serif;

}
#form_textarea:focus{
  border: solid 2px black;
}
.info:focus{
  border: solid 2px black;
}
.info::placeholder{
font-family: "Inter", sans-serif;
}
.info{
border-radius: 8px;
height: 48px;
margin-bottom: 20px;
padding: 8px; 
resize: none; 
box-sizing: border-box;
font-size: 12px;
font-weight: 400;
border:  solid 2px gray;
font-size: 20px;
font-family: "Inter", sans-serif;
outline: none;
}

.web-bottom-text-content{
  font-family: Yanone Kaffeesatz;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}
.contact-list{
  list-style: none;
  margin-top: 50px;
}
.contact-list-line{
  font-family: Varta;
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 30px;
}
.web-bottom{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.web-bottom-text{
  max-width: 740px;
}
.form{
  min-width: 750px;
  margin-top: 20px;
}
.contact-list-line img{
  vertical-align: middle;
  padding-right: 0px;
}
/*projects*/
.title3{
  font-family: Roboto Slab;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  animation: slideInLeft 1s;
}
.text1{
  animation: slideLeftBounce 1s;
}
.text3{
  animation: slideRightBounce 1s;
}
.web-top3{
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.under-title3{
  font-family: Josefin Sans;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  animation: slideInLeft 1s;
  animation-delay: 100ms;
}
.mini-texts{
  display: flex;
  justify-content: center;
  gap: 5%;
  text-align: center;
  margin: 0 5%;
}
.mini-text{
  font-family: Inder;
  font-size: 32px;
  font-weight: 400;
  padding: 11px 50px;
  background-color: rgba(217, 217, 217, 1);
  height: 62px;
  display: flex;
  align-items: center;
}
.text-overlay{
  margin: 15% 15%;
  height: 95%;
}
.text-overlay-line{
  max-width: 800px;
  color: black;
  margin-top: 20px;

}
.image-container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.image-container .text-overlay{
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease; /* Płynne pojawienie napisu */
}
.image-container:hover img {
filter: blur(12px); /* Stopień rozmycia zdjęcia */
}

.image-container:hover .text-overlay {
opacity: 1; /* Pojawienie się napisu na zdjęciu */
}
.text-overlay h3, .text-overlay p{
  max-width: 800px;
  margin: 100px auto;
}
.text-overlay h3{
  font-family: Roboto Slab;
  font-size: 60px;
  margin: 0;
}
.text-overlay p{
  font-family: Josefin Sans;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 20px;
}
.projects{
  margin-top: 60px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.image-container img{
  margin-bottom: 0;
  max-width: 1400px;
  max-height: 750px;
  width: 100%;
  height: 100%;
  scale: 0.7;
  opacity: 0.8;
}
.projects-section{
 background-image: url(/src/assets/images/bg-projects.png);
 background-repeat: no-repeat;
 background-size: cover;
}
.top-images{
  text-align: center;
  margin-top: 50px;
}
.topimages-box1,
.topimages-box2{
  display: flex;
  margin-bottom: 50px;
  text-align: center;
  gap: 60px;
}
.topimages-box2{
  margin-left: 70px;
}
.websites-title{
  font-family: Tinos;
  font-size: 75px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 10px
}
.web-line{
  max-width: 706px;
  border: solid black 2px;
  color: black;
  text-align: center;
}
.web-line2{
  max-width: 276px;
  border: solid black 2px;
  color: black;
  text-align: center;
}
.ulotki{
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 100px;
}
.apps{
  display: flex;
  justify-content: space-around;
}
/*uslugi*/
.web-top4{
  display: flex;
  justify-content: space-around;
  margin: 0 2%;
}
.title4{
  font-family: Roboto Slab;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}
.img1{
  max-height: 317px;
  margin: 200px 2% 0 2%;
}
.img2{
  max-height: 300px;
  margin: 70px 2%;
}
.img1-som,
.img2-som{
  width: 200px;

}
.uslugi-imgs{
  text-align: center;
  display: none;
}
.under-title4{
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 300;
}
.uslugi-title{
  font-family: Tinos;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 15px;
}
.uslugi-paragraph{
  font-family: Josefin Sans;
  font-size: 30.72px;
  font-weight: 300;
}
.uslugi-line{
  max-width: 437px;
  border: 2px solid black;
  margin: 0;
}
.uslugi-line2{
  max-width: 413px;
  border: 2px solid black;
  margin: 0;
}
.uslugi-line1{
  max-width: 634px;
  border: 2px solid black;
  margin: 0;
}
.uslugi-item,
.uslugi-item-hom{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0 6%;
  align-items: center;
}
.uslugi-item2{
  display: none;
  justify-content: center;
  gap: 50px;
  margin: 0 6%;
  align-items: center;
}
/*footer*/


/*media*/
@media (max-width: 1850px) {
  .plans-container{
      margin-left: 2%;
      margin-right: 2%;
  }
}
@media (max-width: 1750px) {
  
  .plan{
      width: 561.88px;
      margin-bottom: 50px;
  }

}
@media (max-width: 1735px) {
  .line3{
      width: auto;
  }
}
@media (max-width: 1700px) {
  .web-top{
      padding-left: 2%;
  }
  .first-image{
      max-width: 798px;
      height: 548.25px;
  }
}
@media (max-width: 1700px) {
  .websites-columns{
      display: block;
      text-align: center;
  }
  .image-n-title1{
      display: none;
  }
  .button2-box{
      margin-top: 0;
  }
}
@media (max-width: 1500px) {
  .web-top{
      margin: 0;
      padding-left: 2%;
      padding-right: 2%;
  }
  .text-n-picture{
      display: block;
      text-align: center;
  }
  .topimages-box1{
    display: none;
  }
  .topimages-box2{
    display: block;
  }
  .topimages-box2 img{
    margin-top: 50px;
    margin-left: 0;
  }
  .web-top{
    gap: 10px;
  }
  .webtop2image{
    width: 400px;
  }
  .uslugi-item-img1{
    width: 500px
  }
  .uslugi-paragraph{
    font-size: 22px;
  }
  .uslugi-title{
    font-size: 36px;
  }
  .uslugi-item-img2{
    width: 550px;
  }
}
@media (max-width: 1480px) {
  .web-bottom{
      display: block;
      text-align: center;
  }

  }
  .form{
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
  }
  .web-bottom-text{
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
  }
  .info{
      height: 40px;
  }
  .info::placeholder{
      font-size: 20px;
  }
  #form_textarea{
      height: 150px;
  }
@media (max-width: 1400px) {
  .offers{
      grid-template-columns: 1fr 1fr;
  }
  .title4{
    font-size: 45px;
  }
  .under-title4{
    font-size: 27px;
  }
  .img1,
  .img2{
    max-height: 240px;
  }
}
@media (max-width: 1300px) {
  .plans-container{
      display: block;
      text-align: center;
  }
  .plan{
      margin: 15px auto;
  }
  .title2{
    font-size: 50px;
    text-align: center;
  }
  .under-title2{
    font-size: 27px;
  }
}
@media (max-width: 1280px) {
  .text-overlay{
    margin-top: 20px;
  }
  .image-container{
    width: 500px;
  }
  .text-overlay h3{
    font-size: 25px;
  }
  .text-overlay p{
    font-size: 20px;
  }
  .ulotki img{
    width: 350px;
  }
}
@media (max-width: 1130px) {
  .offers{
      text-align: center;
  }
  .name{
      font-size: 34px;
  }
  .under-name{
      font-size: 22px;
  }
  .title3{
    font-size: 35px;
  }
  .under-title3{
    font-size: 20px;
  }
  .topimages-box2 img{
    width: 200px;
  }
  .topimages-box2{
    margin-left: 0;
  }
  .img1,
  .img2{
    display: none;
  }
  .uslugi-imgs{
    display: block;
  }
  .under-title4{
    text-align: center;
  }
}
@media (max-width: 1070px) {
  .uslugi-item-hom{
    display: none;
  }
  .uslugi-item2,
  .uslugi-item{
    display: block;
    text-align: center;
  }
  .uslugi-line,
  .uslugi-line1,
  .uslugi-line2{
    margin: auto;
  }
  .uslugi-item-img2{
    width: 400px;
  }
  
}
@media (max-width: 1020px) {
  .text-n-line{
      padding-bottom: 20px;
  }
  .projects-paragrafs{
      display: block;
  }
}
@media (max-width: 1005px) {
  .footer-content{
      grid-template-columns: 1fr;
  }
  .footer-texts{
      margin: 0 auto;
  }
  .footer-text{
      text-align: center;
  }
  .footer-text1{
      margin: 0 auto;
  }
  .navButtons {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 120px;
      right: 20px;
      background-color: black;
      width: 250px; /* Ustawienie szerokości menu */
      border: 1px solid #ccc;
      padding: 10px 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Cień, aby menu było bardziej widoczne */
      border-radius: 10px; /* Zaokrąglenie rogów menu */
  }

  .navBtn {
      color: white;
      font-family: Saira Condensed;
      font-size: 24px; /* Zmniejszenie rozmiaru czcionki */
      font-weight: 300;
      width: 100%;
      height: 50px; /* Ustawienie wysokości przycisków */
      text-align: center;
      text-decoration: none;
      display: flex; /* Dodanie flexbox do wyśrodkowania */
      justify-content: center; /* Wycentrowanie tekstu w poziomie */
      align-items: center; /* Wycentrowanie tekstu w pionie */
      margin: 10px 0; /* Odstęp pomiędzy przyciskami */
  }

  .navBtnRed {
      width: 100%;
      padding: 15px 0;
  }

  .hamburger {
      display: block; /* Pokaż ikonę hamburgera */
      cursor: pointer;
      font-size: 36px;
      color: white;
      margin-left: auto;
  }

  .navButtons.active {
      display: flex; /* Pokaż menu po kliknięciu hamburgera */
  }
  #showOnSmallScreens{
    display: block;
  }
  #hideOnSmallScreens{
    display: none;
  }
  .name{
    display: flex;
    justify-content: center;
  }
  .meet-us-img{
    margin: 0 auto;
  }
  .under-name{
      text-align: center;
  }
}

@media (max-width: 950px) {
  .offers{
      grid-template-columns: 1fr;
  }
  .projects-image{
    width: 500px;
    height: auto;
  }
  .mini-texts{
    display: block;
  }
  .mini-text{
    justify-content: center;
  }
  .webtop2image{
    display: none;
  }
  .webtop2image-som{
    display: block;
    margin: 0 auto;
    width: 450px;
  }
  .under-title2{
    text-align: center;
  }
}
@media (max-width: 865px) {
  .text-n-lines{
    display: block;
    margin-top: 20px;
  }
}
@media (max-width: 810px) {
  .ulotki{
    display: block;
    text-align: center;
  }
  .ultoki img{
    margin-top: 50px;
  }
}
@media (max-width: 720px) {
  .first-image{
    max-height: 300px;
  }
  .web-top3{
    display: block;
  }
  .topimages-box2{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: -50px;
  }
  .apps img{
    width: 60px;
  }
  .mini-text{
    font-size: 25px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .app-icons img{
    display: none;
  }
  .image-box img{
    width: 50px;
  }
  .image-box h3{
    font-size: 27px;
  }
}
@media (max-width: 650px) {
  .projects-image{
    width: 300px;
  }
  .meet-us-line{
    margin-left: 2%;
    margin-right: 2%;
  }
  .image-container{
    width: 350px;
  }
  .text-overlay p{
    display: none;
  }
  .text-overlay-line{
    display: none;
  }
  .text-overlay h3{
    padding: 15%;
  }
  .websites-title{
    font-size: 50px;
  }
}
@media (max-width: 620px) {
  .title{
    font-size: 40px;
  }
  .under-title{
    font-size: 22px;
  }
  .projects-title{
    font-size: 30px;
  }
  .projects-paragraf{
    font-size: 22px;
  }
  .footer-texts{
    display: block;

  }
  .footer-paragraph{
    text-align: center;
  }
  .uslugi-item-img1{
    width: 250px;
  }
  .uslugi-item-img2{
    width: 220px;
  }
}
@media (max-width: 550px) {
  .button2{
    padding: 5px;
    font-size: 20px;
  }
  .webtop2image-som{
    width: 250px;
  }
  .title2{
    font-size: 35px;
  }
  .under-title2{
    font-size: 22px;
  }
  .title4{
    font-size: 30px;
  }
  .under-title4{
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .topimages-box2{
    display: block;
  }
}
@media (max-width: 485px) {
  .offer-title{
    font-size: 30px;
  }
  .title3{
    font-size: 30px;
  }
  .icons-box{
    display: block;
    margin-bottom: -100px;
  }
  .image-box{
    margin-bottom: 50px;
  }
}
@media (max-width: 450px) {
  .image-container{
    width: 250px;
  }
  .text-overlay h3{
    font-size: 20px;
    padding: 10%;
  }
}
@media (max-width: 420px) {
  .first-image{
    max-height: 200px;
  }
  .offer-content{
    font-size: 22px;
    padding: 0;
    text-align: center;
  }
  .offer{
    width: 250px;
    height: 500px;
  }
  .offer-image{
    width: 70%;
  }
  
}
@media (max-width: 375px) {
  .over-offers-text{
    font-size: 40px;
  }
  .projects-image{
    width: 200px;
  }
  .projects-under-title{
    font-size: 30px;
  }
  .ulotki img{
    width: 220px;
  }
}